
.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: inherit;
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}

.opening-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #FF7500;
  margin: 3px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #E14D2A;
  margin-bottom: 1rem;
  margin-top: 0.5rem
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  text-align: center;
  padding-right: 20px;
  cursor: pointer;
}

.optionIcon {
  background-color: #E14D2A;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
}

.optionIcon img {
  width: 60%;
  height: 60%;
  position: relative;
  margin: auto;

}

.optionIcon:hover {
  background-color: #FF7500;
}

input[type="radio"] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type=radio]:checked + label .optionIcon {
  background-color: #FF7500;
}


label {
  font-size: 0.8rem;
  color: #E14D2A;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  padding-bottom: 2rem;
}