
.filter-switch label {
  cursor: pointer;
}
.filter-switch-item input:checked + label {
  color: inherit;
}
.filter-switch-item input:not(:checked) + label {
  --bg-opacity: 0;
  box-shadow: none;
}

.opening-option-button {
  padding: 0.5rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #FF7500;
  margin: 3px;
}