// login Page styling

#login{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .position-relative;
    @extend .text-center;
    height: 100vh;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .default-bg{
        @extend .background;
        color: #06283D;
    }

    .login-box{
        max-width: 960px;
        margin: 0 auto;
        box-shadow: 0 0 35px rgba(0,0,0,0.1);
        border-radius: 10px; 
        background-color: #fff;
        display: flex;
        flex-direction: row;

        >.bg-img{
            min-width: 300px; 
            padding: 0;
            border-radius: 10px 0 0 10px;
            background: rgba(0,0,0,0.4) url('../assets/img/bg_img.jpeg') top left repeat;
            background-size: cover;
            top:0;
            bottom: 0;
            opacity: 1;
        }

        .info{
            height: 450px;
            @extend .position-relative;
            >.logo{
                text-align: left;
                margin: 20px;
                >.nav-brand{
                    font-size: 22px;
                    @extend .font-bold;
                    color: #505050;
                }
            }
            >.btn-section{
                position: absolute;
                top: 40%;
                right: 0;
                margin-bottom: 0;
                display: flex;
                flex-direction: column;

                .link-btn{
                    font-size: 12px;
                    background-color: #06283D;
                    color: #fff;
                    @extend .font-bold;
                }

                .link-btn.active{
                    background-color: #fff;
                    color: #06283D;
                }

                >.btn-primary{
                    @extend .text-center;
                    line-height: 50px;
                    width: 100px;
                    text-transform: uppercase;
                    border-radius: 50px 0 0 50px;
                    margin-bottom: 15px;
                    border: none;
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }
    }
    /*
    login form styling
    */
    .form-section{
        @extend .text-center;
        max-width: 400px;
        margin: auto;
        @extend .width-100;
        .title{
            margin: 10px 0 50px 0;
            h3{
                font-size: 25px;
                @extend .font-bold;
                color: #06283D;
            }
        }
        .login-inner-form, .register-inner-form{
            @extend .position-relative;
            color: #979797;
            .form-box{
                float: right;
                @extend .width-100;
                @extend .position-relative;
                // style input textbox
                .input-text{
                    font-size: 14px;
                    outline: non;
                    color: #616161;
                    border-radius: 50px;
                    border: 1px solid transparent;
                    @extend .background;
                    box-shadow: 0 0 5px rgba(0,0,0,0.2);
                    padding: 11px 45px 11px 20px;
                    @extend .width-100;
                    margin-bottom: 10px;
                }
                .icon{
                    position: absolute;
                    right: 25px;
                    top: 10px;
                }
                .icon2{
                    position: absolute;
                    right: 50px;
                    top: 10px;
                }
                // importing icons
                .icon.email::before{
                    @extend .font-awesome;
                    content: "\f0e0";
                }
                .icon.lock::before{
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f023"
                }
                .icon.user::before{
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f007"
                }
                .icon2.show::before{
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f06e"
                }
                .icon2.hide::before{
                    @extend .font-awesome;
                    @extend .font-bold;
                    content: "\f070"
                }
            }
            .primary-btn{
                background: #06283D;
                @extend .width-100;
                border: none;
                color: #fff;
                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                padding: 10px 30px 9px 30px;
                cursor: pointer;
                height: 45px;
                border-radius: 50px;
                margin-top: 20px;

                &:hover{
                    background: #47B5FF;
                }
            }
        }
    }
}