.botDiv {
    overflow: hidden;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 45%;
}

#bot.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#bot {
    width: 100%;
    height: 80%;
    aspect-ratio: 3/4;
    padding: 2em;
    object-fit: contain;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}

#sectionTitle.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color:  rgb(225 77 42);
}


#sectionTitle {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}


#subtitle.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#subtitle {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}

#subtitleBis.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#subtitleBis {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}


#step1.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#step1 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}


#step2.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#step2 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}

#step3.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#step3 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}

#step4.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#step4 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}

#step5.fade-in {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s, transform 0.5s;
}

#step5 {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s, transform 0.5s;
}



@media screen and (max-width: 1023px) {
    .botDiv {
        width: 100%;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    #bot {
        padding: 2em 8em;
    }

}