@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: "Quicksand";
src: local("Quicksand"),
 url("./assets/font/quicksand/ttf/quicksand-latin-700-normal.ttf") format("truetype");
font-weight: bold;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
